<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name ="connectionStringDb"
			connectionString="Data Source=DESKTOP-KN0N952\ALEXPRESS;User id=sa;Password = mdpbdd;Initial Catalog=Mine2Craft;Integrated Security=True;"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>
</configuration>