<div class="container">
  <div class="row" *ngIf="furnaceList; else noDatas">
    <div class="col-3 offset-9 create-button-container">
      <button class="btn btn-success mx-1 create-button" (click)="createFurnace()">
        Créer une relation
      </button>
    </div>
    <table class="table text-center table-type">
      <thead>
      <tr>
        <th colspan="3">Avant cuisson</th>
        <th colspan="3">Résultat cuisson</th>
        <th colspan="3">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let furnace of furnaceList">
        <td colspan="3" id="{{furnace.itemBeforeCookingId}}">{{furnace.itemBeforeCooking.name}}</td>
        <td colspan="3" id="{{furnace.itemAfterCookingId}}">{{furnace.itemAfterCooking.name}}</td>
        <td colspan="3">
          <button class="btn btn-warning mx-1" (click)="updateFurnace(furnace)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
          </button>
          <button class="btn btn-danger mx-1" (click)="deleteFurnace(furnace.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noDatas>
En attente de récupération des relations du four...
</ng-template>
