@import 'src/styles';

.container{
  font-family: "Minecraft", sans-serif;
  font-size: 20px;
}

.row{
  background-color: rgba(0,0,0,0.4);
  border-left: 2px white solid;
  border-right: 2px white solid;
  border-bottom: 2px white solid;
  padding: 1vh;
}

.log-in-button{
  color : white;
  background-color: $grey-background;
  border: 0;

  &:hover {
    background: $green-hover;
  }
}

.log-out-button {
  color: white;
  background-color: $grey-background;
  border: 0;

  &:hover {
    background: $green-hover;
  }
}
